body {
  background-color: black;
  color: #41FF00;
  font-family: "Courier New", Courier, monospace;
}

.App {
  text-align: center;
}

.banner {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8.5px;
}

.sc-dnqmqq.dNrvp {
  color: #41FF00;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

.sc-gzVnrw.khKDsa {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

.terminal {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

.sc-gzVnrwkhKDsa {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

.iQSzyY {
  padding-top: 0px;
  font-size: 1em;
}

.kotQqp, .kotQqp:focus {
  font-size: 1em;
}

footer {
  bottom: 5%;
  margin:  auto;
  width: 90%;
  padding: 0 5%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
  font-size: .9em;
}
